

.form {
  padding-top: 3em;
  margin-left: 30em;
  padding-bottom: 30em;
  position: relative;
}

input, select, textarea {
  width: 55%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#submit {
  background-color: #4CAF50;
  color: white;
  padding: 12px 10px;
  cursor: pointer;
}

.navbar {
  float: right;
  text-decoration: none;
  padding-right: 6em;
}

.navbar a {
  padding-left: 25px;
  color: black;
}

.navbar a.active {
  color: black;
  font-weight: 400;
}

a:visited {
  color: black;
}

#title {
  font-weight: 100;
  margin: 40px;
  padding-right: 5%;
  padding-left: 9em;
  padding-top: 45px;
}

a:link {
  text-decoration: none;
}

h3 {
  font-weight: 100;
  padding-bottom: 1em;
  }